<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    body {
        padding: 30px;
    }
    
    .dropdown>.dropdown-menu {
        position: absolute;
        margin-bottom: 5px;
        top: 34px;
    }
    
    .dropdown:after {
        clear: left;
    }
    
    .dropdown.show>.dropdown-menu{
        display: block;
    }
    /* .dropdown>.dropdown-toggle {
          float: left;
      }*/
    
    table {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #a9c6c9;
        border-collapse: collapse;
    }
    
    table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    
    table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    
    table tr:nth-child(odd) td {
        background-color: #d4e3e5;
    }
    
    table tr:nth-child(even) td {
        background-color: #c3dde0;
    }
    </style>
</head>

<body id="mvc-app">
    <div class="dropdown createBtn">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            create
            <span class="caret"></span>
        </button>
        <script type="text/template" id="tpl-createBtn">
            <ul id="btnListView" class="dropdown-menu" aria-labelledby="dropdownMenu">
                <%_.each(obj,function(e,i){%>
                    <li>
                        <a href="javascript:void 0;" class="dropdown-menu-<%= e.id%>">
                            <%= e.text%>
                        </a>
                    </li>
                    <%})%>
            </ul>
        </script>
        
        <!--   <script type="text/template" id="tpl-table">  
            <table>
              
            </table>
        </script> -->
    </div>
    <div id="content">
        <ul id="template-list"></ul>
    </div>
    <script type="text/template" id="tpl-popup">
            <ul id="" class="dropdown-menu" aria-labelledby="dropdownMenu">
                <%_.each(obj,function(e,i){%>
                    <li>
                        <a href="javascript:void 0;" class="actions-item <%=e.id%>" title="<%=e.title%>">
                            <%= e.text%>
                        </a>
                    </li>
                    <%})%>
            </ul>
    </script>
    <div class="dropdown  popUp" style="position: absolute;z-index:999;">
    </div>
    <!-- jquery.ajax-cross-origin.min.js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone.localStorage.js"></script>
    <script src="js/actions.js"></script>
    <script src="js/model/create-model.js"></script>
    <script src="js/model/table-model.js"></script>
    <script src="js/view/createBtn-view.js"></script>
    <script src="js/view/table-view.js"></script>

    <script type="text/javascript">
    //var domain = 'http://admadevwb8001:8001/api/html/elements';
    var domain = 'http://localhost:3000/api/html/elements';

    var dataAPI = {
        'createBtn': '',
        'btnAction': {
            'button': '/button/actions',
            'inputText': '/inputText/actions',
            'table': '/table/actions',
            'div': '/div/actions',
            'image': '/image/actions',
        },
        'data': {
            'button': '/button/data',
            'inputText': '/inputText/data',
            'table': '/table/data',
            'div': '/div/data',
            'image': '/image/data',
        }
    }
    var app = app || {};
    $(document).ready(function() {
        app.popupModel = Backbone.Model.extend({
            defaultOption:{
                url:dataAPI.btnAction,
            },
            initialize: function(options) {
                var self = this;
                var defaultOption = $.extend(this.defaultOption,options);
                console.log(options)
                this.data = $.ajax({
                    type: 'get',
                    url: domain+dataAPI.btnAction[defaultOption.url],
                }).done(function(res) {
                    self.set({
                        'actionList': res.data,
                    });
                }).fail(function(err) {
                    console.info(err);
                });;
            },
        })
        app.popupView = Backbone.View.extend({
            tagName:'div',
            template: _.template($('#tpl-popup').html()),
            events: {
                'click .actions-item.delete': 'delete',
                'click .actions-item.backgroundColor': 'backgroundColor',
                'click .actions-item.fontColor': 'fontColor',
                'click .actions-item.increaseFontSize': 'increaseFontSize',
                'click .actions-item.decreaseFontSize': 'decreaseFontSize',
            },
            initialize: function() {
                var self = this;
                this.model.on('change:actionList', function(model,data) {
                        self.$el.html(self.template(data));
                })
            },
            render:function(){
                //$('body').append(this.render().el)
            },
            delete:function(){
                this.trigger('doActions','delete');
            },
            backgroundColor:function(){
                this.trigger('doActions','backgroundColor');
            },
            fontColor:function(){
                this.trigger('doActions','fontColor');
            },
            increaseFontSize:function(){
                this.trigger('doActions','increaseFontSize');
            },
            decreaseFontSize:function(){
                this.trigger('doActions','decreaseFontSize');
            },
            toggle:function(){
              var self = this;
              self.$el.addClass('show');
            }
        })

        app.AppView = Backbone.View.extend({
            el: '#mvc-app',
            events: {
                //'click #template-list': 'showPopUp'
            },
            initialize: function() {
                this.initializeCreateBtnView();//管理btnView
                this.$list = $('#template-list');
                this.listenTo(app.tables, 'add', this.addOne, this);//坚挺tables 集合add事件
            },
            initializeCreateBtnView: function() {
                this.creatBtnView = new app.creatBtnView({
                    el: '.createBtn',
                    model: new createBtn()
                });
            },
            addOne: function(model) {
                var type = model.get('className');
                if (type == 'dropdown-menu-table') {
                    var view = new app.TableView({
                        model: model,
                    });
                    console.log(view);
                } else {

                }
                this.$list.append(view.render().el);
                this.creatBtnView.toggle();
            }
        });

        appView =  new app.AppView();
        appView.fontSize ='11px';

    });
    </script>
</body>

</html>
