<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    body {
        padding: 30px;
    }
    
    .dropdown>.dropdown-menu {
        position: absolute;
        margin-bottom: 5px;
        top: 34px;
    }
    
    .dropdown:after {
        clear: left;
    }
    
    .dropdown.show>.dropdown-menu {
        display: block;
    }
    /* .dropdown>.dropdown-toggle {
          float: left;
      }*/
    
    table {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #a9c6c9;
        border-collapse: collapse;
    }
    
    table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    
    table td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }
    
    table tr:nth-child(odd) td {
        background-color: #d4e3e5;
    }
    
    table tr:nth-child(even) td {
        background-color: #c3dde0;
    }
    </style>
</head>

<body id="mvc-app">
    <div class="dropdown createBtn">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            create
            <span class="caret"></span>
        </button>
        <script type="text/template" id="tpl-createBtn">
            <ul id="btnListView" class="dropdown-menu" aria-labelledby="dropdownMenu">
                <%_.each(obj,function(e,i){%>
                    <li>
                        <a href="javascript:void 0;" class="dropdown-menu-<%= e.id%>" data-id="<%= e.id%>">
                            <%= e.text%>
                        </a>
                    </li>
                    <%})%>
            </ul>
        </script>
        <!--   <script type="text/template" id="tpl-table">  
            <table>
              
            </table>
        </script> -->
    </div>
    <div id="content">
        <ul id="template-list"></ul>
    </div>
    <script type="text/template" id="tpl-popup">
        <ul id="" class="dropdown-menu" aria-labelledby="dropdownMenu">
            <%_.each(obj,function(e,i){%>
                <li>
                    <a href="javascript:void 0;" class="actions-item <%=e.id%>" title="<%=e.title%>">
                        <%= e.text%>
                    </a>
                </li>
                <%})%>
        </ul>
    </script>
    <div class="dropdown  popUp" style="position: absolute;z-index:999;">
    </div>
    <!-- jquery.ajax-cross-origin.min.js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/backbone.localStorage.js"></script>
    <script type="text/javascript">
    //var domain = 'http://admadevwb8001:8001/api/html/elements';

    $(document).ready(function() {
        var appModel = Backbone.Model.extend({
            defaults: function() {
                return {
                    dataAPI: {
                        'domain': 'http://localhost:3000/api/html/elements',
                        'createBtn': '',
                        'btnAction': {
                            'button': '/button/actions',
                            'inputText': '/inputText/actions',
                            'table': '/table/actions',
                            'div': '/div/actions',
                            'image': '/image/actions',
                        },
                        'data': {
                            'button': '/button/data',
                            'inputText': '/inputText/data',
                            'table': '/table/data',
                            'div': '/div/data',
                            'image': '/image/data',
                        }
                    }
                }
            },
            initialize: function() {
                //请求createBtn

            },
            reqCreateBtn: function() {
                var self = this;
                $.ajax({
                    type: 'get',
                    url: this.get('dataAPI').domain
                }).done(function(res) {
                    self.trigger('createBtnData', res.data);
                }).fail(function(err) {
                    console.info(err);
                });
            },
            reqTplData: function(tplType) {
                var self = this;
                $.ajax({
                    type: 'get',
                    url: this.get('dataAPI').domain + this.get('dataAPI').data[tplType]
                }).done(function(res) {
                    self.trigger('tplData', res.data, tplType);
                }).fail(function(err) {
                    console.info(err);
                });
            }
        });
        var appView = Backbone.View.extend({
            initialize: function(options) {
                this.model = new options.model;
                this.model.set({
                    fontSize: '11px',
                    curTemplate: '',
                });
                this.bindEvents();
                this.model.reqCreateBtn();
            },
            showCreateBtn: function(data) {
                var createBtnHandler = _.template($('#tpl-createBtn').html());
                $('.createBtn').append(createBtnHandler(data));
                //this.model.set('curTemplate',data[0].text);
            },
            bindEvents: function() {
                var self = this;
                $('.createBtn').on('click', function() {
                    $('.createBtn').find('#btnListView').toggle();
                });
                $('body').delegate('#btnListView li a', 'click', function() {
                    var tplType = $(this).data('id');
                    self.createTplhandler(tplType);
                });
                this.model.on('createBtnData', function(data) {
                    self.showCreateBtn(data);
                });
                this.model.on('tplData', function(data, tplType) {
                    var templateData = self.model.get('templateData') || {};
                    templateData[tplType] = data;
                    self.model.set('templateData', templateData);
                    self.createTemplate(tplType);
                })
            },
            createTplhandler: function(tplType) {
                var self = this;
                self.model.set('curTemplate', tplType);
                var templateData = self.model.get('templateData') || {};
                if (templateData[tplType]) {
                    self.createTemplate(tplType);
                } else {
                    self.model.reqTplData(tplType)
                }
            },
            createTemplate: function(tplType) {
                var tplDOM = this.model.get('tplDOM') || {}
                var templateData = this.model.get('templateData') || {};
                if(!tplDOM[tplType]){
                    var renderMethod = this.renderTpl(tplType);
                    var dom =  renderMethod(templateData[tplType]);
                    $('#template-list').append(dom);
                }else{

                }
            },
            renderTpl:function(tplType){
                var self = this;
                var method = {
                    table:self.createTable,
                }
                return method[tplType];
            },
            createTable: function(data) {
                function Table(data) {
                    this.rowCount = 0;
                    this.cellCount = 0;
                    this.data = data; //只取一次
                    this.init(data);
                }
                Table.prototype = {
                    constructor: Table,
                    init: function(res) {
                        this.rowCount = data.rows;
                        this.cellCount = data.cols;
                        this.cellData = data.cells;

                        var sortResult = this.sort();
                        this.newTableTemplate()
                    },
                    sort: function() {
                        this.sortResult = this.cellData.sort(function(td0, td1) {
                            if (td0.row === td1.row) {
                                return td0.col - td1.col;
                            } else {
                                return td0.row - td1.row;
                            }
                        });
                    },
                    newTableTemplate: function() {
                        var sortResult = this.sortResult;
                        var oFragmeng = document.createDocumentFragment();
                        var table = document.createElement('table');    
                        for (var i = 0; i < this.rowCount; i++) {
                            var tr = document.createElement('tr');
                            for (var j = 0; j < this.cellCount; j++) {
                                var td = document.createElement('td');
                                if (sortResult[i * this.rowCount + j]) {
                                    var oText = document.createTextNode(sortResult[i * this.rowCount + j].data);
                                } else {
                                    var oText = document.createTextNode('');
                                }
                                td.appendChild(oText);
                                tr.appendChild(td);
                            }
                            oFragmeng.appendChild(tr);
                        }
                        table.appendChild(oFragmeng)
                        this.table = table;
                    }
                }
                return new Table(data).table;
            }
        });

        new appView({
            model: appModel,
        });

    });
    </script>
</body>

</html>
